*~
debug/
release/
Makefile*
*.pro.*
object_script*
*.autosave
ui_*
*.o
.qmake.stash
moc_*
mugi-query
mugi-query/
src/automate_p.cpp
.vscode/
data/
mugi-query_resource.rc
users2e78~*
.qtc_clangd/
*.zip
